<app-admin-layout>
    <div class="container">
      <div class="card col-md-12">
        <div class="card-header">
          <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
              <a routerLink="/admin/settings/departments/create" class="btn btn-sm btn-primary pull-right"><span
                  class="fa fa-plus-o"></span>Add New</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p>Create Department</p>
          <form [formGroup]="formGroup" (ngSubmit)="create()">
            <div class="form-group">
              <input type="text" formControlName="name" [(ngModel)]="model.name" class="form-control form-control-user"
                placeholder="Department Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors"
                class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
            </div>
  
            <div class="col-12">
              <button class="btn btn-primary btn-sm" type="submit">Save Changes</button>
              <span class="btn btn-sm btn-danger" routerLink="/admin/settings/departments/all">Cancel</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </app-admin-layout>