<app-admin-layout>
<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td >Customers</td>
            <td ><a class="btn btn-primary btn-sm" role="button">View</a></td>
            <td ><a routerLink="/admin/add-new/new-customer" class="btn btn-primary btn-sm" role="button">Add</a></td>
        </tr>
        <tr>
            <td>Staff</td>
            <td><a class="btn btn-primary btn-sm" role="button">View</a></td>
            <td><a routerLink="/admin/add-new/new-staff" class="btn btn-primary btn-sm" role="button">Add</a></td>
        </tr>
        <tr>
            <td>Customer Categories</td>
            <td><a class="btn btn-primary btn-sm" role="button">View</a></td>
            <td><a routerLink="/admin/add-new/new-customer-category" class="btn btn-primary btn-sm" role="button">Add</a></td>
        </tr>
        <tr>
            <td>Departments</td>
            <td><a class="btn btn-primary btn-sm" role="button">View</a></td>
            <td><a routerLink="/admin/add-new/new-department" class="btn btn-primary btn-sm" role="button">Add</a></td>
        </tr>
    </tbody>
</table>
</app-admin-layout>