<div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h2>{{activeTicket.id}}: {{activeTicket.title}} </h2>
                    </div>
                    <div class="col-6 pull-right">
                        <a class="btn btn-sm btn-primary" routerLink="/admin/settings/tickets/edit/{{activeTicket.id}}">
                            <span class="fa fa-pencil"></span>Edit</a>
                        <span class="btn btn-sm btn-danger"
                            (click)="ticketsService.confirmDeleteTicket(activeTicket)"><span
                                class="fa fa-trash"></span> Delete</span> 
                             </div>
                </div>
            </div>
    
            <div class="card-body">
                <div *ngIf="activeTicket">
                    <div class="container">
                        <table class="table table-bordered tabe-striped col-md-12">
                            <tbody>
                                <tr>
                                    <th>Ticket Id</th>
                                    <td>{{activeTicket.id}}</td>
                                </tr>
                            </tbody>
                            <tbody>
                                    <tr>
                                        <th> Title</th>
                                        <td>{{activeTicket.title}}</td>
                                    </tr>
                                </tbody>
                            <tbody>
                                <tr>
                                    <th>Status</th>
                                    <td>{{activeTicket.status}}</td>
                                </tr>
                            </tbody>


                        </table>
    
                        <div class="col-12">
                            <span class="btn btn-sm btn-primary" routerLink="/admin/settings/tickets/all">Go
                                back</span>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
