<app-customer-layout>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <a routerLink="/customer/tickets/create" class="btn btn-sm btn-primary pull-right"><span
                                class="fa fa-plus-o"></span>Add New</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>Create new Ticket</p>
                <form [formGroup]="formGroup" (ngSubmit)="create()">
                    <div class="form-group">
                        <input type="text" formControlName="title" [(ngModel)]="model.title"
                            class="form-control form-control-user" placeholder="Ticket Title"
                            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                        <div *ngIf="submitted && f.title.errors"
                            class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                            <div *ngIf="f.title.errors.required">Title is required</div>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <input type="text" formControlName="ticketNo" [(ngModel)]="model.ticketNo"
                            class="form-control form-control-user" placeholder="Ticket No."
                            [ngClass]="{ 'is-invalid': submitted && f.ticketNo.errors }" />
                        <div *ngIf="submitted && f.ticketNo.errors"
                            class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                            <div *ngIf="f.ticketNo.errors.required">ticketNo is required</div>
                        </div>
                    </div> -->

                    <!-- <div class="form-group">
                                    <input type="text" formControlName="status" [(ngModel)]="model.status"
                                      class="form-control form-control-user" placeholder="Ticket status"
                                      [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
                                    <div *ngIf="submitted && f.status.errors"
                                      class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                                      <div *ngIf="f.status.errors.required">status is required</div>
                                    </div>
                                </div> -->

                    <!-- <div class="form-group ">
                        <label for="status">Ticket Status</label>
                        <select type="text" formControlName="status" [(ngModel)]="model.status"
                            class="form-control form-control-user" placeholder="Ticket status"
                            [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                            <option selected>NEW</option>
                            <option>OPEN</option>
                            <option>CLOSED</option>
                            <option>SOLVED</option>
                        </select>
                        <div *ngIf="submitted && f.status.errors"
                            class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                            <div *ngIf="f.status.errors.required">status is required</div>
                        </div>
                    </div> -->


                    <div class="col-12">
                        <button class="btn btn-primary btn-sm" type="submit">Save Changes</button>
                        <span class="btn btn-sm btn-danger" routerLink="/customer/tickets/all">Cancel</span>
                    </div>
                </form>
            </div>
        </div>
    </div>

</app-customer-layout>