<app-staff-layout>
        <div class="container">
          <div class="row">
            <div class="col-5">
                <app-ticket-list></app-ticket-list>
            </div>
            <div  class="col-7">
              <app-ticket-details></app-ticket-details>
                <div>
                <app-ticket-description [activeTicket]="ticketService.activeTicket"></app-ticket-description>
                </div>
            </div>
          </div>
        </div>
</app-staff-layout>
    

