
<div *ngIf= "activeTicket">
 <div class="container"> 
<table class="table table-bordered">
    <tbody>
        <tr>
          <th scope="col-4">Ticket No</th>
          <td scope="col-8">{{activeTicket.ticketNo}}</td>
        </tr>
      </tbody>
    <tbody>
      <tr>
        <th scope="col-4">title </th>
        <td scope="col-8">{{activeTicket.title}}</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <th scope="col-4">Description </th>
        <td scope="col-8">{{activeTicket.description}}</td>
      </tr>
    </tbody>
      <tbody>
      <tr>
        <th scope="col-4">Status </th>
        <td scope="col-8">{{activeTicket.Status}}</td>
      </tr>
    </tbody>
  </table>
  
  <div>
  <button class="btn btn-primary btn-sm float-right" routerLink="../edit-ticket/{{activeTicket.ticketNo}}">Edit</button>
  <button class="btn btn-primary btn-sm float-right" (click)= "ticketService.confirmDeleteTicket(activeTicket.ticketNo)">Delete</button>
  </div>
</div>

