<div class="modal-header">
    <h6 class="modal-title" id="modal-title" i18n>Delete Staff Role?</h6>
    <button type="button" class="close btn-sm" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong i18n>Are you sure you want to delete <b class="text-danger">{{role.name}}</b>?</strong></p>
  </div>
  <div class="modal-footer p-1">
    <button type="button" class="btn btn-outline-secondary btn-sm pull-left" (click)="modal.dismiss('cancel click')"
      i18n>Cancel</button>
    <button type="button" class="btn btn-danger btn-sm pull-right" (click)="settingsService.deleteStaffRole(role)">Delete</button>
  </div>