<app-admin-layout>
        <form>
            <div class="form-group">
                <label for="inputDepartmentName">Department Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-row"> 
                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
                <div class="form-group col-md-4">
                    <button type="button" class="btn btn-dark">Cancel</button>
                </div>
            </div>
        </form>
    </app-admin-layout>